nav li a:hover, nav li a.current { 
 color: aqua;} 
		
marquee{
	color:#ddff03;
	font-size:270%;
	font-family: "Audiowide", sans-serif;
}
body{
	background-color:#252525;
	opacity:1.2;
	color:Black;
}
p{
	background-color:#0f0f00;
	color: #ffffff;
	opacity:0.8;
	font-family: "Sofia", sans-serif;
	font-size: larger;
	
}
nav li{
	margin-right: 50px;
	display: inline-block;
}
a{
	cursor:grab;
	background-color: #000000;
	font-size: large;
	font-weight: 600;
	text-shadow:2px 2px 5px #61ff59;
	color: aquamarine;

}
img{
  margin-left: auto;
  margin-right: left;
}
div{
	background-color: #252525;
}
