
marquee{
color:#0b0c10;
font-size:270%
}
body{
background-color:#c5c6c7;
opacity:1.2;
color:Black;
}
p{
background-color:#add8e6;
opacity:0.8
}
h2{
background-color:#ac94f4;
}
h3{
background-color:#eee2dc
}
li{
background-color:yellow
}
