
marquee{
color:blue;
font-size:250%
}
body{
background-color:white;
opacity:1.2;
color:
}
p{
background-color:blue;
opacity:0.8
}
h2{
background-color:green
}
h3{
background-color:red
}
li{
background-color:yellow
}
