    body{
        background-color: #fffaf4;
        color:black;
        font-size: larger;
    }
    .fa-google {
  background: #ff3503;
  text-decoration: none;
  font-weight: bold;
  font-size: 30px;
  width: fit-content;
  padding: 20px;
  border-radius: 50%;
  color: white;}
  .fa-google:hover{
    color: #125688;
  }
  .fa-instagram {
  background: #8a3ab9;
  text-decoration: none;
  color: white;
  font-weight: bolder;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  width:30px;
  margin:5px 2px;
  text-align: center;}
  .fa-linkedin {
  background: #007bb5;
  text-decoration: none;
  color: white;
  font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  width:30px;
  margin:5px 2px;
  text-align: center;
  }
  .fa-phone{
    background-color: #2fff00;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  width:30px;
  margin:5px 2px;
  text-align: center;
  }
  .fa-github{
    background-color: #000000;
    text-decoration: none;
    color: #ffffff;
    font-size: 30px;
  padding: 20px;
  border-radius: 50%;
  width:30px;
  margin:5px 2px;
  text-align: center;
  }
  .gfg{
    font-size:30px;
    background-color: #44e413;
    text-decoration: none;
    color: #ffffff;
    font-family: "Sofia", sans-serif;
}
